.mr-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mr-color-button-secondary);
    border-radius: 50px;
    width: 168px;
    height: 46px;
    font-size: 14px;
    font-weight: bold;
    color: var(--mr-color-button-primary);
    margin-left: 20px;
}

.mr-filter img {
    width: 16px;
    height: 7px;
    padding-left: 5px;
}
